.centered {
    margin: 0 auto;
    text-align: center;
}

body {
    font-family: 'New Tegomin', serif;
}

form {
    width: 600px;
    margin: 0 auto;
}

label {
    float: left;
    width: 30%;
    text-align: left;
}

.form-right {
    float: left;
    width: 70%;
}

.form-group:after {
    content: "";
    display: table;
    clear: both;
}

input[type=text], select, textarea, input[type=number] {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type=submit] {
  background-color: #FF00FF;
  margin-top: 30px;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #BA55D3;
}
