<!DOCTYPE html>
<html lang="en">
  <head>
    <title>House Points</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static', filename='style2.css')}}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="background centered">

      {% if current_user.is_authenticated %}
      <div class="centered authenticated-msg">
          <div class="header">
            <a href="/">House Points</a>
            <a href="/headmaster">Headmaster</a>
            <a href="/ledger">Points Ledger</a>
          </div>
          You are authenticated as {{ current_user.username }}!
      </div>
      {% endif %}

      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class="centered flashes">
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}

    {% block content %}
      <div>
        <h1> House Points </h1>
          <div id="points-container">
            <div id="gryffindor">
              <p>
                <span class="emphasized">Gryffindor</span>
                <br>
                {{houses['gryffindor']['points']}} points
              </p>
            </div>
            <div id="slytherin">
              <p>
                <span class="emphasized">Slytherin</span>
                <br>{{houses['slytherin']['points']}} points
              </p>
            </div>
            <div id="hufflepuff">
              <p>
                <span class="emphasized">Hufflepuff</span>
                <br>{{houses['hufflepuff']['points']}} points
              </p>
            </div>
            <div id="ravenclaw">
              <p>
                <span class="emphasized">Ravenclaw</span>
                <br>{{houses['ravenclaw']['points']}} points
              </p>
            </div>
          </div>
      </div>
      {% endblock %}
    </div>
  </body>
</html>
